.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
Search/Data/Applications/Windows/Windows.db-wal
Search/Data/Applications/Windows/Windows.db
Search/Data/Applications/Windows/Windows-gather.db
Search/Data/Applications/Windows/Windows.db-wal
Search/Data/Applications/Windows/Windows.db-wal
Search/Data/Applications/Windows/Windows.db-wal
Search/Data/Applications/Windows/Windows.db-wal
Search/Data/Applications/Windows/Windows.db-wal
Search/Data/Applications/Windows/Windows.db-wal
Search/Data/Applications/Windows/Windows.db-wal
Search/Data/Applications/Windows/Windows.db-wal
